<section class="container p-2 text-center">
  {{> header}}       

  <h2>Welcome to Achievements Management</h2>
  <p>Manage your games and achievements from here!</p>

  {{> home}} 

  {{> footer}}       
</section>