<label for="gamesName"> Name: </label>
<input type="text" name="name" required> 

<label for="gameId"> Game ID: </label>
<input type="text" name="gameid" required> 

<input type="submit" class="save-btn mt-2" value="Submit">