<section class="container p-2 d-flex justify-content-center">
  <nav>
    <a href="/site/games" class="btn btn-primary">View Games</a>
    <a href="/site/search" class="btn btn-primary">Search for Games</a>
  </nav>
</section>